<br/>
<br/>
<%= form_for @add do |a| %>
<%=a.label :Commonname %>
   <%=a.text_field :commonname %>

<%=a.label :Latinname %>
   <%=a.text_field :latinname %>

<%=a.label :Kingdom %>
   <%=a.text_field :kingdom %>

   <%=a.submit "Submit" %>
<% end %>


<% @add.errors.full_messages.each do |message| %>
   <li><%= message %> </li>
<br/>
<%end%>